{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">
{% for product in products %}

<div class="col-lg-3 mb-4 rounded">
  <a href="{% url 'productdetail' product.id %}" class="product-link" style="text-decoration: none;">
    <div class="product-thumbnail" style='border-bottom-style: solid;'>
      <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="box-element product">
      <h6 class="mb-0"><strong>{{ product.name }}</strong></h6>
      <p class="text-muted mb-2">{{ product.price|floatformat:2 }} zł</p>
      <div class="d-flex justify-content-between align-items-center">
        
        
      </div>
    </div>
  </a>
</div>


{% endfor%}
</div>




{% endblock content%}